

services:
  zookeeper:
    image: zookeeper:3.6.3
    ports:
      - "2181:2181"
    networks:
      - kafka-net
    restart: unless-stopped


  kafka:
    image: wurstmeister/kafka:2.13-2.7.0
    hostname: kafka
    container_name: kafka
    ports:
      - "19092:9092"
    environment:
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - kafka-net
    restart: unless-stopped
     

  kafka-ui:
      image: provectuslabs/kafka-ui:latest
      container_name: kafka-ui
      ports:
        - "8080:8080"
      environment:
        - KAFKA_CLUSTERS_0_NAME=local
        - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
        - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181
      depends_on:
        - kafka
        - zookeeper
      networks:
        - kafka-net
      restart: unless-stopped
      

  producer:
    build:
      context: ./backend
    container_name: kafka-producer
    depends_on:
      - kafka
    volumes:
      - ./backend/logs:/app/logs
      - /etc/localtime:/etc/localtime:ro
    environment:
      KAFKA_HOST: kafka:9092
      KAFKA_TOPIC: cdc-updates
    command: ["python", "producer.py"]
    networks:
      - kafka-net
    restart: unless-stopped


  consumer:
    build:
      context: ./backend
    container_name: kafka-consumer
    ports:
      - "8000:8000"
    depends_on:
      - kafka
    volumes:
      - ./backend/logs:/app/logs
      - /etc/localtime:/etc/localtime:ro
    environment:
      KAFKA_HOST: kafka:9092
      KAFKA_TOPIC: cdc-updates
      KAFKA_GROUP_ID: cdc-consumer-group
    command: ["uvicorn", "consumer_ws:app", "--host", "0.0.0.0", "--port", "8000"]
    networks:
      - kafka-net
    restart: unless-stopped


  consumer_insert:
    build:
      context: ./backend
    container_name: kafka-consumer-insert
    depends_on:
      - kafka
    volumes:
      - ./backend/logs:/app/logs
      - /etc/localtime:/etc/localtime:ro
    environment:
      KAFKA_HOST: kafka:9092
      KAFKA_TOPIC: cdc-updates
      KAFKA_GROUP_ID: cdc-consumer-insert-group
    command: ["python", "consumer_insert.py"]
    networks:
      - kafka-net
    restart: unless-stopped




  # tradeupdater:
  #   build:
  #     context: ./backend
  #   image: tms_derivative-tradeupdater  
  #   container_name: tradeupdater
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #   command: ["python3", "tradeUpdater.py"]
  #   networks:
  #     - kafka-net
  #   restart: unless-stopped


  
  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"  
    environment:
      - NODE_ENV=development
    depends_on:
      - consumer


networks:
  kafka-net: