.main_outer_div{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.main_outer_div.blurred {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}
.middle-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.options_table_div{
    background-color: #000000;
    border-radius: 0.4rem;
    width: 100%;
    height: 550px;
    min-height: 550px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #3d3d3d;
}
.description-section {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    color: #333;
    gap: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: 0.3s ease;
}
.div2{
    background-color: #dfe9ad70;
    padding: 5px 10px;
    text-align: center;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.top-right-div-h5{
    margin-bottom: 10px;
}
.live-qty-div{
    min-width: 250px;
    width:23%;
    background-color: #2e2e2e;
    border: 1px solid #3d3d3d;
    text-align: center;
    height: 80px;
    min-height: 80px;
    overflow: hidden;
    border-radius: 5px;
    border-radius: 0.5rem;
    padding: 5px 10px;
    transition: 0.3s ease;
    box-shadow: 0 2px 6px rgba(116, 116, 116, 0.1);
}
.div2{
    width: 100%;
}
.strikewise-qty-wrapper,.modelwise-profit-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 16px;
    min-height: 4rem;
    overflow-y: auto;
    padding: 0 7px;
}
.live-qty-wrapper{
    height: 100% !important;
    text-align: left;
    padding: 5px 0 0 10px;
    font-family: 'Segoe UI', sans-serif;
}
.live-qty-text{
    margin-top: 8px;
    font-family: monospace;
    color: #bdbdbd;
}
.live-qty-wrapper>span{
    font-family: 'Segoe UI', sans-serif;
    font-size: medium;
    font-weight: 600;
    color: #fff;
}
.strikewise-qty-wrapper,.modelwise-profit-wrapper{
    height: 130px;
    gap: 0.1rem;
}
.qty-text{
    font-family: monospace !important;
}
.font-size{
    font-size: x-large;
}
.border-top{
    margin-top: 5px;
    border-top: 1px solid grey;
    padding-top: 5px;
}
.table_wrapper{
    width: 100%;
    max-height: 90.6%;
    height: 100%;
    border-radius: 0.4rem;
    background-color: #5757574f;
    overflow-y: auto;
    border: 1px solid #3d3d3d;
}
.header_text{
    font-size: 20px;
    font-weight: 600;
    padding: 12px;
    color: #3d3d3d;
    font-family: 'Segoe UI', sans-serif;
}
#dataTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    position: relative;
}

#dataTable td {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
    cursor: pointer;
}

#dataTable td:hover::after {
    content: attr(data-fulltext);
    position: absolute;
    background: #6b6b6b;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    white-space: normal;
    z-index: 9999;
    top: -100%; 
    left: 0;
    max-width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px); 
    pointer-events: none;
}

.tblHeader{
    background-color: #686868;
    color: rgb(44, 42, 42);
    font-size: 16px;
    font-weight: 500;
}
.tblHeader th{
    padding: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 550;
    font-family: 'Segoe UI', sans-serif;
    position: sticky;
    top: 0;
    color: #fff;
    background-color: #585858; 
    z-index: 10;
    box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.open-trade-failure {
    background-color: #c96a6a; 
}
td{
    padding: 10px;
    color: #eaeaea;
    font-family: monospace;
}
.tbl-row {
    min-height: 3.5rem !important;
    height: 3.5rem !important;
    display: table-row;
}
.tbl-row td {
    height: 3rem !important;
    font-size: 14px;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 8px;
    font-family:'Segoe UI', sans-serif;
}
.sortable{
    cursor: pointer;
}
.positive{
    color: #27e87f !important;
    font-weight: 600 !important;
}
.negative{
    font-weight: 600 !important;
    color: #ff2600 !important;
}
tbody tr:hover{
    background-color: #c5c5c571;
    transition: background 0.3s ease-in-out;
}
.tblBody td{
    text-align: center;
}
.top-div{
    width: 100%;
    height: auto;
    display: flex;
    margin: 6px 0 8px 0;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap:10px;
}
.top_div_left{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;
}
.checking-div, .checking-div1{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.data_missing_div, .internet_check_div, .latency_check_div,.websockt_check_div {
    width: 175px;
    min-width: 170px;
    height: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: monospace;
    border-radius: 8px;
    padding: 12px 10px;
    transition: 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1)
}
.data_missing_div{
    background: #FD1D1D;
    background: linear-gradient(300deg,rgba(253, 29, 29, 0.67) 21%, rgba(252, 136, 69, 1) 100%);
}
.internet_check_div{
    background: #6f1dfd;
    background: linear-gradient(239deg, rgba(111, 29, 253, 0.49) 0%, rgba(252, 87, 69, 0.94) 100%);
}
.latency_check_div{
    background: #454EFC;
    background: linear-gradient(239deg, rgba(69, 78, 252, 0.87) 0%, rgba(127, 69, 252, 0.64) 100%);
}
.websockt_check_div{
    background: #4564fc;
    background: linear-gradient(239deg, rgba(69, 100, 252, 1) 22%, rgba(69, 234, 252, 0.64) 100%);
}
.img-icons{
    width: 30px;
    height: 30px;
}

@keyframes glowPlus{
    0%{
        box-shadow: 0 0 0px red;
    }
    50%{
        box-shadow: 0 0 20px red;
    }
    100%{
        box-shadow: 0 0 0px red;
    }
}
.glow{
    animation: glowPlus 1s infinite;
    padding: 12px 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}
.squareOff-btn{
    width: 50%;
    height: 2rem;
    border: 1px solid red;
    border-radius: 8px;
    color: #ffffff;
    background-color: #df4a4a;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-family: monospace;
}
.squareOff-btn:active {
    transform: scale(0.95);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
.blink {
    animation: blink-animation 1s steps(5, start) 5; /* 5 blinks */
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    .top-div{
        flex-direction: column !important;
        height: 100% !important;
    }
    .top_div_left{
        width: 100% !important;
    }
    .description-section{
        width: 100% !important;
    }
}

.qty-text.positive {
    color: green;
}

.qty-text.negative {
    color: red;
}
  
.stoploss-input-box{
    width: 95%;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
}
.action-div{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: space-between;
}

.modify-btn{
    width: 50%;
    height: 2rem;
    border: 1px solid #04ad83;
    border-radius: 8px;
    color: #ffffff;
    background-color: #04ad83;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-family: monospace;
}
.modify-btn:active {
    transform: scale(0.95);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
.investment-div{
    border: 1px solid red;
}
.client-select_div{
    display: flex;
    flex-direction: row;
    float: right;
    padding: 10px;
    text-align: center;
}

.client-select_div >span{
    margin-top: 6px;
    font-size: large;
    font-weight: 500;
    color: #c6c6c6;
}

.client-select_div>select{
    border: 1px solid #c9b6b6;
    width: 126px;
    border-radius: 4px;
    color: darkslategrey;
    height: 35px;
    font-size: large;
    font-weight: 500;
    font-family: monospace;
    padding: 5px;
    background-color: #bdbdbd;
}
.client-select_div>select>option{
    background-color: #bdbdbd;
}
.client-select_div>select>option:hover{
    background-color: #cac0c0 !important;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;         
    border-top: 6px solid #04ad83;  
    border-radius: 50%;           
    animation: spin 1s linear infinite;
    margin: 20px auto;              
}
  
@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.client-id-row{
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.client-id-row>span{
    height: 1rem !important;
    margin-top: 6px;
}

.table-option-section{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
}

.total-pl{
    background: black;
    margin-right: 50px;
}
.total-pl > span{
    color: white;
    align-self: center;
    margin-top: 0px !important;
}
.total-pl>h2{
    align-self: center;
}

.bottom-section{
    margin-top: 15px;
    width: 100%;
    height: 900px;
    border-radius: 5px;
    transition: 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.performance-chart-div{
    background-color: #000000;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #3d3d3d;
    width: 60%;
}
.chart-main-div{
    margin-top: 2rem;
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-radius: 2rem;
}
.selected-text{
    min-width: 5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #3d3d3d;
    background-color: #585858a1;
}
.selected-text-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.strong-text-div{
    min-width: 10rem;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.footer-section{
    background-color:#1f1f1fba;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #3d3d3d;
    width: 100%;
    margin-top: 1rem;
}

  
.model-chart-div{
    margin-top: 1.5rem;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #000000;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #3d3d3d;
    padding-bottom: 1rem;
}