
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.3rem ;
    display: flex;
    justify-content: center;
    background: transparent; 
    z-index: 1000;
    animation: slideDown 0.8s ease-out 0.2s forwards;
}
  
.navbar-container {
  width: 100%;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight:500;
  font-size: 1.3rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.logo>img{
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

.navbar-text{
  color: #fff;
  letter-spacing: 3px;
  transition: letter-spacing 0.3s ease;
}
.nav-links {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

.nav-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #333;
  transition: width 0.4s ease-in-out;
}

.nav-links:hover {
  color: #5c6ac4;
}

.nav-links:hover::after {
  width: 100%;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.4s ease-in-out;
}

.nav-links li a:hover {
  color: #5c6ac4;
}

.hamburger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 80px;
    right: 2rem;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    flex-direction: column;
    align-items: center;
    width: 220px;
    border-radius: 20px;
    padding: 1rem 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: all 0.4s ease-in-out;
  }

  .nav-links.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
