.main-container {
  display: flex;
  justify-content: start;
  width: 40%;
}

.table-wrapper {
  border-radius: 10px;
  width: auto;
  background-color: #000000;
}
.header-text{
  background-color:#585858;
}
.option-table {
  border-collapse: collapse;
  white-space: nowrap;
  height: 100%;
}

.option-table th,
.option-table td {
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #807e7e;
  color: #fff;
  width: 150px;
}

.option-table th {
  font-weight: bold;
}

.strike-cell {
  background-color: #2e2e2ed6;
  font-size: 1.2em;
}

.code-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-item {
  display: flex;
  justify-content: center;
  margin: 2px 0;
}

.code-name {
  margin-right: 5px;
}
.model-strike-text{
  min-width: 6rem;
}