.tooltip-wrapper {
    background-color: #d7d4cef7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;    
    background-color: #0000002e;
    z-index: 1000;
    padding: 10px;

  }
  .tooltip {
    background-color: #dde4bca1;
    padding: 1rem;
    border-radius: 1.5rem;
    max-width: 450px;
    width: 32%;
    height: 145px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    align-items: center;
    text-align: center;
    font-family: monospace;
    animation: scaleUp 1s ease-out;
  }
  .tooltip-img{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }


@keyframes scaleUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}