*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

/* Style the scrollbar container */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #7d7e7d;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #a3a4a3;
}
