name: CI/CD Pipeline

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main


jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout respository
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.11"

            - name: Install dependencies
              run: |
                pip install -r requirements.txt

            - name: Run tests
              run: pytest

    build-docker:
        needs: build-and-test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                push: true
                tages: ${{ secrets.DOCKER_USERNAME }}/tms:latest
                context: .

    deploy:
        needs: build-docker
        runs-on: ubuntu-latest

        steps:
            - name: Deploy via SSH
              uses: applebot/ssh-action@v1.2.0
              with:
                host: ${{ secrets.SERVER_HOST }}
                username: ${{ secrets.SERVERUSER }}
                key: ${{ secrets.SSH_PRIVATE_KEY }}
                script: |
                    cd /path/to/your/project
                    git pull origin main
                    docker-compose down
                    docker-compose pull
                    docker-compose up -d